<h3>You did it! You registered!</h3>

Hi {{ email }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="{{ login_url }}">LOGIN PAGE</a>.

<p>Your login details:</p>
<ul>
   <li>Login:  {{ email }}</li>
   <li>Password: {{ params.password }}</li>
</ul>

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo.png')) }}">
